@page "/about"
@page "/about/en"
@page "/about/de"
@page "/about/it"
@using Client.Shared
@layout MainLayout
@implements IDisposable

@code {    
    
    [Inject]
    public IAboutModel? Model { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model!.OnStateHasChanged += StateHasChanged;
    }

    public void Dispose()
    {
        Model!.OnStateHasChanged -= StateHasChanged;
        Model!.Dispose();
    }
}

<div class="container-fluid">
    <main>        
        @if (@Model!.IsEnglish)
        {
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">About this Website</h1>
                    </div>
                </div>
                <blockquote class="blockquote text-justify">
                    <p class="mb-3">
                        <b>This is my About Page.</b>
                    </p>
                </blockquote>
            </section>
        }
        @if (@Model!.IsDeutsch)
        {
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Informationen über die Website</h1>
                    </div>
                </div>
                <blockquote class="blockquote text-justify">
                    <p class="mb-3">
                        <b>Meine About Seite.</b>
                    </p>
                </blockquote>
            </section>
        }
        @if (@Model!.IsItalian)
        {
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Informationi circa questo sito</h1>
                    </div>
                </div>
                <blockquote class="blockquote text-justify">
                    <p class="mb-3">
                        <b>La mia pagina About.</b>
                    </p>
                </blockquote>
            </section>
        }
    </main>
</div>
