@page "/AzureBackup001"
@page "/AzureBackup001/en"
@using Client.Shared
@layout MainLayout

<div class="container-fluid">
    <main>
        <div class="row mt-2">
            <article class="pt-3">
                <header>
                    <h1 class="text-center">Azure Backup</h1>
                </header>
            </article>
        </div>
    </main>
</div>
