@page "/it"
@page "/index/it"
@using Client.Shared
@using Client.Catalogs
@implements IDisposable
@layout MainLayout

@code
{
    [Inject]
    private IIndexModel? Model { get; set; }

    public void Dispose()
    {
        Model!.Dispose();
    }
}

<div class="container-fluid">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">God's Invitation</h1>
                </div>
            </div>
            <blockquote class="blockquote text-justify">
                <p class="mb-3">
                    Indice di PWS
                </p>
            </blockquote>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.Azure001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.Security001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.CSharp001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.DesignPatterns001)"></Card>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

