@page "/death001"
@page "/death001/en"
@using Client.Shared
@layout MainLayout

<div class="container-fluid">
    <main >
        <div class="row mt-2">
            <article class="pt-3">
                <header>
                    <h1 class="text-center">Death</h1>
                </header>
            </article>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <div>
                    <img src="/images/rip1.svg" class="float-start" alt="Bootstrap" height="225" style="padding: 0.5em">
                    <p class="text-justify">
                        There is no control over when this event occurs or the circumstances that lead
                        to our death, it is just a fact of life that everyone must die and it will certainly
                        happen to you one day.

                        People avoid thinking and talking about it, if possible, and try to "deal" with it somehow.

                        One example is to push it farther in the future, another is to accept it as a natural event
                        or try not to think and worry about it, some try to ignore it altogether as if it is something that happens to others, not to them.

                        Therefore most people focus on their life and avoid the fruitless worry about their death
                        as no one can control, influence or change this fact. However, the thought of it does not
                        completely go away and sticks at the back of our minds as its meaning and importance
                        eludes us for most of our lives.
                    </p>
                </div>
                
            </div>
            <div class="col-lg-6">
                <p>
                    I invite you today to instead take a moment to seriously consider what will happen to you on that day.
                    The day you die all will be lost, what you have done you will no longer be able to change it, to improve
                    it, fix it, there will be no second chance. Furthermore, all your plans and expectations will no longer
                    mean anything and all that you have achieved will also mean little as the very day of your death you will
                    begin at best to be a memory in those you leave behind and as such you will soon fade and eventually
                    disappear in the fold of time, no matter how great and high up in the history of mankind you have managed
                    to place yourself.
                </p>
                
                <b>It will be all gone.</b>
            </div>
        </div>
    </main>
</div>
