@page "/hell001/de"
@using Client.Shared
@layout MainLayout

<div class="container-fluid">
    <main >
        <div class="row mt-2">
            <article class="pt-3">
                <header>
                    <h1 class="text-center">Die Hölle</h1>
                    <p class="lead text-muted">&#8220;All Scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for instruction in righteousness, that the man of God may be complete, thoroughly equipped for every good work.&#8221;</p>
                    <a href="https://www.bible.com/bible/111/HEB.3.15.NIV" class="anchor-plain" target="_blank">
                        <footer class="blockquote-footer text-end">Timothy 3:16-17 <cite title="Source Title">NKJV</cite></footer>
                    </a>
                </header>
            </article>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <div>
                    <img src="/images/hell1.svg" class="float-start" alt="Bootstrap" height="225" style="padding: 0.5em">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                
            </div>
            <div class="col-lg-6">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </main>
</div>
