@page "/de" 
@page "/index/de"
@using Client.Shared
@using Websites.Razor.ClassLibrary.Abstractions.Models
@using Client.Catalogs
@implements IDisposable
@layout MainLayout

@code
{
    [Inject]
    private IIndexPage? Model { get; set; }

    public void Dispose()
    {
        Model!.Dispose();
    }
}

<div class="container-fluid">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">God's Invitation</h1>
                    <p class="lead text-muted">&#8220;Ho! Everyone who thirsts, Come to the waters; And you who have no money, Come, buy and eat. Yes, come, buy wine and milk without money and without price.&#8221;</p>
                    <a href="https://my.bible.com/bible/114/ISA.55.1" class="anchor-plain" target="_blank">
                        <footer class="blockquote-footer text-end">Isaiah 55:1 <cite title="Source Title">NKJV</cite></footer>
                    </a>
                </div>
            </div>
            <blockquote class="blockquote text-justify">
                <p class="mb-3">
                    <b>Dies ist ein Leitfaden, der in wenigen einfachen Schritten erklärt, wie Sie ewig leben können und was Ihr Leben und alles, was darin steckt, wirklich bedeutet.</b>
                    <b>In den ersten drei Schritten unten finden Sie alles, was Sie wissen müssen, in nur 5 Minuten und alles andere ist Bonusmaterial!</b>
                    Es erklärt, wer Sie sind, woher Sie kommen und wohin Sie gehen und warum die Dinge so sind, wie sie sind. Du erfährst, was du tun musst, um nicht zu sterben und was kommt
                    nachdem du es getan hast. Es lehrt Sie, mit Ihren Ängsten und Zweifeln zu rechnen und zeigt Ihnen, was wirklich wichtig ist und dass es im Leben mehr gibt, als Sie sich jemals vorstellen können.
                    Ganz gleich, welche Geschichte oder welchen Hintergrund Sie haben, welche Religion oder welchen Glauben Sie haben oder nicht, egal, ob reich oder arm, stark oder schwach, groß oder klein, gut oder schlecht, gesund oder schlecht
                    Dieser Leitfaden ist für Sie, damit er alles in Ihrem Leben für immer verändert und Sie und mich an den Ort führt, an dem wir immer sein wollten.
                </p>
            </blockquote>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.Death001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.TheLaw001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.TheCross001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.TheBible001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.Hell001)"></Card>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
