@page "/it"
@page "/index/it"
@using BlazorApp.Client.Abstractions.Models
@using BlazorApp.Client.Common
@using Client.Components
@using Client.Shared
@implements IDisposable
@layout MainLayout

@code
{
    [Inject]
    private IIndexPage? Model { get; set; }

    public void Dispose()
    {
        Model!.Dispose();
    }
}

<div class="container-fluid">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">God's Invitation</h1>
                    <p class="lead text-muted">&#8220;Ho! Everyone who thirsts, Come to the waters; And you who have no money, Come, buy and eat. Yes, come, buy wine and milk without money and without price.&#8221;</p>
                    <a href="https://my.bible.com/bible/114/ISA.55.1" class="anchor-plain" target="_blank">
                        <footer class="blockquote-footer text-end">Isaiah 55:1 <cite title="Source Title">NKJV</cite></footer>
                    </a>
                </div>
            </div>
            <blockquote class="blockquote text-justify">
                <p class="mb-3">
                    <b>Questa è una guida che spiega in pochi semplici passaggi come vivere per sempre e cosa significa veramente la tua vita e tutto ciò che contiene.</b>
                    <b>I primi tre passaggi seguenti coprono tutto ciò che devi sapere in soli 5 minuti e tutto il resto è materiale bonus!</b>
                    Spiega chi sei, da dove vieni e dove stai andando, e perché le cose sono come sono. Scoprirai cosa devi fare per evitare di morire e cosa ti aspetta
                    dopo averlo fatto. Ti insegna a fare i conti con le tue paure e i tuoi dubbi e ti mostra ciò che è veramente importante e che nella vita c'è di più di quanto potresti mai immaginare.
                    Non importa quale sia la tua storia o il tuo background, quale religione o credo tu abbia o meno, se sei ricco o povero, forte o debole, grande o piccolo, buono o cattivo, sano o cattivo
                    Questa guida serve per cambiare ogni cosa nella tua vita per sempre e portare te e me nel posto che abbiamo sempre desiderato essere.
                </p>
            </blockquote>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.Death001)"></Card>
                        </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/commandments1.svg" alt="Bootstrap" height="225" style="padding: 0.5em">
                            <div class="card-body">
                                <h5 class="card-title text-center">The Law</h5>
                                <p class="card-text text-center">Are you a good person?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/thecross1.svg" alt="Bootstrap" height="225" style="padding: 0.5em">
                            <div class="card-body">
                                <h5 class="card-title text-center">The Cross</h5>
                                <p class="card-text text-center">Will you accept the free gift of eternal life?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/thebible1.svg" alt="Bootstrap" height="225" style="padding: 0.5em">
                            <div class="card-body">
                                <h5 class="card-title text-center">Scriptures</h5>
                                <p class="card-text text-center">What are scriptures?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/hell1.svg" alt="Bootstrap" height="225" style="padding: 0.5em">
                            <div class="card-body">
                                <h5 class="card-title text-center">Hell</h5>
                                <p class="card-text text-center">What is Hell?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

