@page "/"
@page "/en"
@page "/index"
@page "/index/en"
@using Client.Shared
@using Client.Catalogs
@implements IDisposable
@layout MainLayout

@code
{
    [Inject]
    private IIndexModel? Model { get; set; }

    public void Dispose()
    {
        Model!.Dispose();
    }
}

<div class="container-fluid">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">The Guide on How to live forever in Heaven</h1>
                </div>
            </div>
            <blockquote class="blockquote text-justify">
                <p class="mb-3">
                    This is a <b>free guide</b> that in few simple steps explains how you can live forever after you die.
                    It takes you only five minutes to guarantee that you will go to Heaven and live there forever. 
                    No matter who you are as today, even if you are the worst of the worst, you **can** have this gift 
                    today, right now, if you want it and will cost you nothing at all.
                </p>

                <p class="mb-3">
                    There is no control over when this event occurs or the circumstances that lead
                    to our death, it is just a fact of life that everyone must die and it will certainly
                    happen to you one day.

                    People avoid thinking and talking about it, if possible, and try to "deal" with it somehow.

                    One example is to push it farther in the future, another is to accept it as a natural event
                    or try not to think and worry about it, some try to ignore it altogether as if it is something that happens to others, not to them.

                    Therefore most people focus on their life and avoid the fruitless worry about their death
                    as no one can control, influence or change this fact. However, the thought of it does not
                    completely go away and sticks at the back of our minds as its meaning and importance
                    eludes us for most of our lives.
                </p>
                <p>
                    I invite you today to instead take a moment to seriously consider what will happen to you on that day.
                    The day you die all will be lost, what you have done you will no longer be able to change it, to improve
                    it, fix it, there will be no second chance. Furthermore, all your plans and expectations will no longer
                    mean anything and all that you have achieved will also mean little as the very day of your death you will
                    begin at best to be a memory in those you leave behind and as such you will soon fade and eventually
                    disappear in the fold of time, no matter how great and high up in the history of mankind you have managed
                    to place yourself.
                </p>
                <p>
                    <b>It will be all gone.</b>
                </p>
            </blockquote>
        </section>
        
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">God's Invitation</h1>
                    <p class="lead text-muted">&#8220;Ho! Everyone who thirsts, Come to the waters; And you who have no money, Come, buy and eat. Yes, come, buy wine and milk without money and without price.&#8221;</p>
                    <a href="https://my.bible.com/bible/114/ISA.55.1" class="anchor-plain" target="_blank">
                        <footer class="blockquote-footer text-end">Isaiah 55:1 <cite title="Source Title">NKJV</cite></footer>
                    </a>
                </div>
            </div>
            <blockquote class="blockquote text-justify">
                <p class="mb-3">
                    <b>This is a guide that in few simple steps explains how you can live forever and what your life and all that there is in it really means.</b>
                    <b>In the first three steps below is all that you need to know in just 5 minutes and everything else is bonus material!</b>
                    It explains who you are, where you come from and are going and why things are the way they are. You will learn what you have to do in order not to die and what comes
                    after you do. It teaches you to reckon with your fears and doubts and shows you what is really important and that there is more to life than you could ever imagine.
                    No matter what your story or background, religion or faith or lack thereof, no matter whether rich or poor, strong or week, great or small, good or bad, well or ill
                    this guide is for you that it may change everything in your life forever and take you and me to the place that we have always meant to be.

                </p>
            </blockquote>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.Death001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.TheLaw001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.TheCross001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.TheBible001)"></Card>
                    </div>
                    <div class="col">
                        <Card Model="@Model!.GetCard(CardCatalog.Hell001)"></Card>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>
