@page "/" 
@page "/index"
@layout MainLayout

@*the \@page "/" tells Blazor that this page is the entry page of the application*@

<PageTitle>Index</PageTitle>

<h1>Hello, this is the index page 2!</h1>

