@page "/javascriptcallsdotnet"
@* @using Components.JavaScriptCallsDotNet *@

<h1>JavaScript calls .Net</h1>

@code {

}

<div class="card">
	<CallStaticDotNetMethod></CallStaticDotNetMethod>
</div>

<div class="card">
	<CallInstanceDotNetMethod></CallInstanceDotNetMethod>
</div>

<div class="card">
	<RegisterInstanceDotNetMethodWithjavaScriptEventHanlder/>
</div>

<div class="card">
	<RegisterOnlineIndicator />
</div>