@page "/dotnetcallsjavascript"
@using Client.Components.DotNetCallsJavascript

<h1>.Net calls JavaScript</h1>

@code {

}

<div class="card">
	<CallJavaScriptFunctionsThatReturnVoid></CallJavaScriptFunctionsThatReturnVoid>
</div>

<div class="card">
	<CallJavaScriptFunctionsThatReturnValue></CallJavaScriptFunctionsThatReturnValue>
</div>

<div class="card">
	<PassHtmlElementsToJavaScript></PassHtmlElementsToJavaScript>
</div>

<div class="card">
	<HandleJavaScriptErrorsInDotNet></HandleJavaScriptErrorsInDotNet>
</div>

<div class="card">
	<UseJavaScriptModule></UseJavaScriptModule>
</div>