@* @page "/" *@
@* @page "/en" *@
@page "/testindex"
@page "/testindex/en"
@layout MainLayout

@inject NavigationManager UriHelper

@code {
	void Navigate()
	{
		//UriHelper.NavigateTo("page2");
		UriHelper.NavigateTo("/testpage1");
	}
	void Navigatede()
	{
	//UriHelper.NavigateTo("page2");
		UriHelper.NavigateTo("/testpage1/de");
	}
}

@*the \@page "/" tells Blazor that this page is the entry page of the application*@
<div class="container-fluid">
	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">Album example</h1>
					<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
					<p>
						<a href="#"
						   class="btn btn-primary my-2"
						   @onclick="@Navigate">
							Main call to action
						</a>
						<a href="#" class="btn btn-secondary my-2">Secondary action</a>
					</p>
				</div>
			</div>
		</section>
		<section>
			<div class="row mt-2 golden-border">
				<button class="btn btn-success" onclick="@Navigate">Page1</button>
			</div>
			<div class="row mt-2 golden-border">
				<button class="btn btn-success" onclick="@Navigatede">Page1.de</button>
			</div>
		</section>
		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col">
						<div class="card shadow-sm">

							@*
							<svg class="bd-placeholder-img card-img-top"
							width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg"
							role="img"
							aria-label="Placeholder: Thumbnail"
							preserveAspectRatio="xMidYMid slice"
							focusable="false">
							<rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts>
							</svg>
							*@


							<img src="/images/tutorial1.svg" alt="Bootstrap" height="225">


							<div class="card-body">

								<h5 class="card-title">Card Title</h5>

								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>

								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top"
								 width="100%" height="225"
								 xmlns="http://www.w3.org/2000/svg"
								 role="img" aria-label="Placeholder: Thumbnail"
								 preserveAspectRatio="xMidYMid slice"
								 focusable="false">
								<rect width="100%" height="100%" fill="#55595c"></rect>
								<pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts>
							</svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts></svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts></svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts></svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts></svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts></svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts></svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><pageTexts x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</pageTexts></svg>

							<div class="card-body">
								<p class="card-text">This is a wider card with supporting pageTexts below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
</div>
