@using Client.Translations
@using Websites.Razor.ClassLibrary.Components
@inherits MainNavBarBase

@inject AuthenticationStateProvider AuthenticationStateProvider

@code
{
    public Models.MainNavBar Model { get; } = new() { SelectedLanguage = LanguageSelectorBase.SelectedLanguage };

    private bool? isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();

        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            isAuthenticated = true;
        }
    }
}

<nav class="navbar navbar-expand-md fixed-top bg-azure">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" src="images/azure67x67.svg" alt="New Thinking Technologies">
        </a>
        <button class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse"
             id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <MenuItem class="nav-link"
                              Match="NavLinkMatch.All"
                              aria-current="page"
                              href="javascript:undefined"
                              @onclick='() => LinkSelected(PageTranslations.Index)'>
                        @miIndex
                    </MenuItem>
                </li>
                <li class="nav-item">
                    <MenuItem class="nav-link"
                              Match="NavLinkMatch.All"
                              aria-current="about"
                              href=@Model.About.Href>
                        @Model.About.Text
                    </MenuItem>
                </li>
            </ul>

            <LanguageSelector OnLanguageSelected="LanguageSelected" />
            
            <SearchBox></SearchBox>

            <div class=" text-center m-1">
                @if (isAuthenticated.HasValue && isAuthenticated.Value)
                {
                    <a href="/.auth/logout"><i class="bi bi-box-arrow-left h1"></i></a>
                }
                else
                {
                    <a href="/.auth/login/aad"><i class="bi bi-box-arrow-right h1"></i></a>
                }
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
            Login
        </button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>
    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


