@* 
Article: https://devdevout.com/css/css-list-styles
Code: https://codepen.io/erinesullivan/pen/qGrdGV 
CSS from SCSS: https://beautifytools.com/scss-compiler.php 
*@

@code {

}

<ol class="gradient-list">
    <li>There is <b>nothing</b> you can do to be good enough to deserve to go to Heaven!</li>
    <li>You must understand tha God looks at you through the 10 Commandments, if you even broken one even in the slightest you will go to Hell, apart from Him forever.</li>
    <li>You must truly repent of and confess all your sins against Him and stop desiring filth...</li>
    <li>You must believe in Jesus His Son who paid the price of your sin on your behalf so that you can repent and be forgive, without having to pay anything yourself.</li>
    <li>You must turn your back to sin put your and trust in The Lord Jesus and ask Him in prayer to give you the strength, le love and teh faith you need to be kept.</li>
    <li>Something else</li>
</ol>
