@* 
Article: https://devdevout.com/css/css-list-styles
Code: https://codepen.io/erinesullivan/pen/qGrdGV 
CSS from SCSS: https://beautifytools.com/scss-compiler.php 
*@

<style>
    ol li {
        font-size: 20px;
        text-justify: auto;
    }
</style>

<ol class="gradient-list">
    <li>
        There is <b>nothing</b> we can do to deserve to go to Heaven and live there forever,
        the gift is simply too great and valuable for anyone to purchase with anything they
        may have or do, for this reason it is a free gift tha has been purchased for us.
    </li>
    <li>
        None of us is a good person even if many, wrongly, think they are. <b>God is a perfect judge</b> 
        and looks at us through the 10 Commandments and sees through our hearts and minds. He knows our 
        intentions, thoughts and motives and there is no way to hide anything or keep any secrets from Him, 
        all we do and think is known to Him as in daylight. He will not stand with anything or anyone in 
        injustice, dishonor, lies, deception, thievery, perversion, wickedness, selfishness, pride, anger
        and <b>all people will be judged when they die whether they like it or not, believe it or not</b>
        the same way any guilty criminal will have to face a court of law, be judged and sentenced even if
        they acknowledge neither the judge nor the law. 
        <p>

        </p>
        <p>
            You are guilty in His eyes, if you have ever in your life:
            <ul>
                <li>boasted or lied even with a small, white or business lie, you are a liar.</li>
                <li>been angry or hated someone, you are murderer.</li>
                <li>taken anything that belonged to someone else, irrespective of its value, you are a thief.</li>
                <li>looked with lust at a woman or a man other than your spouse i.e. you have watched pornography, or had sex before marriage, you are an adulterer.</li>
                <li>had sex with a person of your same gender (this is <b>different</b> from same-sex attraction!)</li>
                <li>put anything or anyone before Him who has given you life, you are an idolater.</li>
                <li>used His name in vain even with the popular expression "OMG", you are a blasphemer and have proven to Him you do not love and respect Him.</li>
                <li>considered yourself a good person, when clearly you're not according to His standards, then you have been also proud and self-righteous which is a sin in God's eyes.</li>
            </ul>
        </p>
    </li>
    <li>
        You are given the opportunity and the choice to <b>confess Him</b> all your sins and <b>truly repent</b> 
        and turn from them <b>today and forever!</b> This means that you must give all sin up all and turn your 
        life, heart, mind and soul to Him. You can ask Him to make you stop desiring, doing and enjoying what is 
        wrong and to change your to desires to do what He wants, what is right in His eyes and not what you want.
    </li>
    <li>You <b>must believe and have faith in Jesus His Son and your savior</b>, who paid the price of your sin on your behalf so that you can repent and be completely forgiven, without having to pay any penalty yourself.</li>
    <li>
        If you do this all will be forgiven to you, a new righteous heart with new desires will created for you and <b>your faith will save you from deserved damnation and eternal punishment</b> and you will receive as a free gift eternal life in Heaven with Jesus and all His saints, once you body dies.
        There will be no death, no tears, no pain or suffering, no wrongs or injustice, only immense, unbound, everlasting joy and life!
    </li>
</ol>
