@* 
Article: https://devdevout.com/css/css-list-styles
Code: https://codepen.io/erinesullivan/pen/qGrdGV 
CSS from SCSS: https://beautifytools.com/scss-compiler.php 
*@

@code {

}

<ol class="gradient-list">
    <li style="font-size: 20px; text-justify:auto">
        There is <b>nothing</b> you can do to deserve to go to Heaven and live there forever,
        the gift is simply too valuable for anyone to purchase with anything you may have or do.
        Someone else has already bought it for you and He is willing to give it to you if
        you desire to receive it.
    </li>
    <li>
        God looks at you through the 10 Commandments and sees through your heart and mind, you
        cannot hide from Him or keep anything secret from Him, all you have ever done or thought
        is known to Him as in daylight.

        <p>
            If you even broken one of His commandment even in the slightest you will send yourself
            to Hell apart from Him forever. This is because He will not stand with anything or anyone
            in injustice, dishonor, lies, deception, thievery, perversion, wickedness, selfishness, pride,
            anger.
        </p>

        <p>
            In His eyes, if have you ever:

            <ul>
                <li>boasted or lied even with a small, white or business lie you are a liar.</li>
                <li>been angry or hated someone you are murderer.</li>
                <li>taken anything that belonged to someone else, irrespective of its value, you are a thief.</li>
                <li>looked with lust at a woman or a man other than your spouse, you are an adulterer at heart.</li>
                <li>put anything or anyone before Him who has given you life, you are an idolater.</li>
                <li>use His name in vain even with the popular and pervasive expression "OMG" you are a blasphemer and have proven to Him you do not love and respect Him.</li>
                <li>considered yourself a good person, when clearly no human being has ever been good and can be good according to God's standard, then you have been also proud and self-righteous which is a sin in God's eyes.</li>
            </ul>
        </p>
    </li>
    <li>
        You are given the choice to <b>confess Him</b> all your sins and <b>truly repent</b> of them <b>today!</b>
        This means that you must give it all sin up all and turn completely your life, heart and mind around,
        stop desiring, doing and enjoying what is wrong and ask Him to make you desire and the strength and do
        what He wants and not what you want.
    </li>
    <li>You must believe in Jesus His Son who paid the price of your sin on your behalf so that you can repent and be forgive, without having to pay anything yourself.</li>
    <li>You must turn your back to sin put your and trust in The Lord Jesus and ask Him in prayer to give you the strength, le love and teh faith you need to be kept.</li>
    <li>Something else</li>
</ol>
