@*@using BlazorApp.Client.Services.LocalStorage
@using BlazorApp.Client.Services.UserSettingsService
@inject ILocalStorageService LocalStorageService;
@inject IUserSettingsService UserSettingsService;

<h3>Settings</h3>

@code {

}*@
