@inherits LayoutComponentBase

<header>
    <h1>The Gospel</h1>
</header>

<div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<footer>
    @TrademarkMessage
</footer>

@code {
    public string TrademarkMessage { get; set; } = 
        "NTT - New Thinking Technologies " +
        "https://www.newthinkingtechnologies.com/";
}
